.recent_box {
  background-color: #ffffff;
  padding: 2rem 0;
  margin-bottom: 1.5rem;

  .recent_title {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 0 1.75rem;
  }

  .recent_list {
    .recent_item {
      position: relative;
      display: inline-block;
      width: 31%;
      margin-left: 1.5%;
      margin-bottom: 1.5%;
      height: 180px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &:hover {
        opacity: .9;
      }

      span {
        position: absolute;
        bottom: 10%;
        left: 2.5%;
        color: white;
        font-size: 1rem;
        text-shadow: 2px 2px black;
      }
    }

    .recent_item_post_1 {
      background-image: url(../images/canyon.jpg);
    }

    .recent_item_post_2 {
      background-image: url(../images/malaysia.jpg);
    }

    .recent_item_post_3 {
      background-image: url(../images/sweden.jpg);
    }
  }
}