@use "sass:color"
@use "sass:meta"
@use 'tools/normalize'
@use 'tools/animate'
@use 'syntax'
@use 'variables'

// - - - - - - - - - - Main Styles - - - - - - - - - - //

*, *::after, *::before
  box-sizing: border-box

body
  font-family: "Lato", sans-serif
  -webkit-font-smoothing: antialiased
  background-color: variables.$dark_gray
  margin: 0

p
  font-size: 1.1rem
  line-height: 1.75rem
  margin: 0 0 1.75rem
  color: variables.$text_color
  font-weight: 400

blockquote
  font-size: 1.2rem
  font-style: italic
  border-left: 3px solid variables.$border_red
  padding-left: 2rem
  margin: 0 0 1.75rem
  color: variables.$dark_light
  p
    color: variables.$dark_light
    font-size: 1.2rem

::-webkit-input-placeholder
  color: variables.$white

::-moz-placeholder
  color: variables.$white

input[type=email], input[type=text], input[type=tel], textarea
  border: none
  border-radius: 0.3rem
  outline: none


cite
  color: color.adjust(variables.$color_gray, $lightness: 15%)

.wrapper
  width: 1440px
  max-width: 90%
  margin: 0 auto

.button_back
  color: variables.$white
  font-size: 1.1rem
  text-decoration: none
  font-style: italic
  display: inline-block
  margin: 0.7rem 1rem
  padding-left: 0.5rem
  font-weight: 700
  &:hover
    text-decoration: underline

.cf::before, .cf::after
  content: ""
  display: table

.cf::after
  clear: both

// - - - - - - - - - - Header Styles - - - - - - - - - - //
@include meta.load-css('parts/header')

// - - - - - - - - - - Banner Styles - - - - - - - - - - //
@include meta.load-css('parts/banner')

// - - - - - - - - - - Cards Styles - - - - - - - - - - //
@include meta.load-css('parts/cards')

// - - - - - - - - - - Newsletter Styles - - - - - - - - - - //
@include meta.load-css('parts/newsletter')

// - - - - - - - - - - Pagination Styles - - - - - - - - - - //
@include meta.load-css('parts/pagination')

// - - - - - - - - - - Arrow Top Styles - - - - - - - - - - //
@include meta.load-css('parts/arrow_top')

// - - - - - - - - - - Comment Area Styles - - - - - - - - - - //
@include meta.load-css('parts/comment_area')

// - - - - - - - - - - Footer Styles - - - - - - - - - - //
@include meta.load-css('parts/footer')

// - - - - - - - - - - Post Styles - - - - - - - - - - //
@include meta.load-css('post')

// - - - - - - - - - - Tags Styles - - - - - - - - - - //
@include meta.load-css('tags')

// - - - - - - - - - - About Styles - - - - - - - - - - //
@include meta.load-css('about')

// - - - - - - - - - - Contact Styles - - - - - - - - - - //
@include meta.load-css('contact')

// - - - - - - - - - - Smooth Animate Styles - - - - - - - - - - //
@include meta.load-css('smooth')

// - - - - - - - - - - Media Styles - - - - - - - - - - //
@include meta.load-css('media');
